<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Russo+One" rel="stylesheet">

<div class='first-block text-light main' id='bg-img1'>
  <h1 class='display-1 p-2'>ADDR</h1>
  <h4 class='p-2 display-4'>the simpliest ad generator</h4>
  <%= link_to 'Create ad for FREE', coupons_path, { :class=>"p-2 mybutton" } %>
</div>
